.hero{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: url("../public/images/react-resto1.jpg");
  background-size: cover;
  background-position: center;
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(0,0,0,0.5);
}

.hero-content{
  position: relative;
  color: white;
  text-align: center;
}

@media (max-width:768px){

.hero h1{
  font-size:36px;
}

.hero p{
  font-size:16px;
}

}